[flake8]
exclude = .git, .gitignore, __pycache__, venv, .env, *migrations*
max-line-length = 119
per-file-ignores = ./src/bidfax/authentication/tests.py:F401
                   ./src/bidfax/authentication/apps.py:F401
                   ./src/bidfax/auction/apps.py:F401

